.container {
  padding: 20px;
}

.title {
  text-align: center;
}

.total {
  font-size: 20px;
  font-weight: 700;
}

.title,
.total,
.emptyList {
  font-family: consolas;
}

.emptyList {
  font-size: 20px;
  text-transform: uppercase;
}
