.container {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 2px 4px black;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 200px;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.price,
.total {
  font-size: 18px;
  font-weight: bold;
}

.total {
  text-decoration: underline;
}

.price {
  color: red;
}

.image {
  display: block;
  width: 100px;
  height: 100px;
}

.counterValue {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
}
